<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<header th:insert="blocks/header :: header" ></header>
    <h2>Create post</h2>
    <form action="/home/add" method="post">
        <input type="text" name="title" placeholder="Insert title name"/><br/>
        <input type="text" name="author" placeholder="Insert author name"/><br/>
        <input type="date" name="date" placeholder="Insert date name"/><br/>
        <textarea name="description" placeholder="Insert description"></textarea><br/>
        <button type="submit">Create post</button>
    </form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>