<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h2 style="text-align: center">Edit your post</h2>
<div class="myForm">
<form th:object="${post}" th:action="@{/home/save}" action="#" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title</label>
    <div class="inputGroup">
    <input type="text" th:field="*{title}" />
    </div>
    <label>Description</label>
    <div class="inputGroup">
    <textarea name="description" th:field="*{description}"></textarea><br>
    </div>
    <label>Date</label>
    <div class="inputGroup">
    <input type="date" id="date" name="date" th:attr="value=${current_date}" readonly="readonly" />
    </div>
    <input type="hidden" id="user" name="user" th:field="*{user.id}" />
    <button type="submit" class="button1">Submit</button>
</form>
</div>
</body>
</html>