<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<header th:insert="blocks/header :: header" ></header>
<h2>Home page</h2>
<div>

    <div sec:authorize="hasRole('USER')">This text for user role</div>
    <div sec:authorize="isAuthenticated()">
        Text for all users
    </div>
</div>
<div class="wrapper">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="sign out">
    </form>
<div th:each="x : ${posts}">
    <h3 th:text="${x.title}"></h3>
    <p th:text="${x.date}"></p>
    <p th:text="${x.user.username}"></p>
    <a>Read more</a>
</div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>