<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Sign up</h2>
<form th:action="@{/signup}" th:object="${signupform}" action="#" method="post">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" th:field="*{username}" required />
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Username error</p>
    <br>
    <label for="firstname">First name: </label>
    <input type="text" id="firstname" name="firstname" th:field="*{firstname}"required />
    <br>
    <label for="password">Password: </label>
    <input type="text" id="password" name="password" th:field="*{password}"required />
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Password error</p>
    <br>
    <label for="password">Password Repeat: </label>
    <input type="text" id="passwordRepeat" name="password" th:field="*{passwordRepeat}"required />
    <p th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}" >Password error</p>
    <br>
    <input type="submit" value="Signup"/>
</form>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>