<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{css/style.css}" />
</head>
<body>

<h2 style="text-align: center">Sign up</h2>
<div class="myForm">
<form th:action="@{/signup}" th:object="${signupform}" action="#" method="post">
    <div class="inputGroup">
    <input type="text" id="username" name="username" th:field="*{username}" required placeholder="Username"/>
    </div>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Username error</p>

    <div class="inputGroup">
    <input type="text" id="firstname" name="firstname" th:field="*{firstname}"required placeholder="First name"/>
    </div>
    <div class="inputGroup">
    <input type="password" id="password" name="password" th:field="*{password}"required placeholder="Password"/>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Password error</p>
</div>
    <div class="inputGroup">
    <input type="password" id="passwordRepeat" name="password" th:field="*{passwordRepeat}"required placeholder="Repeat password"/>
    <p th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}" >Password error</p>
</div>
    <div class="divButton">
    <button type="submit" class="button1">Sign up</button>
    </div>
</form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>